*box-sizing:border-box


body {
    margin: 20px auto; 
    background-color: rgb(36, 218, 231); 
}




h1 { color: rgb(6, 77, 170); 

}
h2 {
    background-color:rgb(99, 149, 214); 
    width: 100%; 
    border-bottom: 2px solid #CCC;  
}

p {

    color: rgb(6, 77, 170); 
    font-size: 25px;  
}