*


body {
    border: 5px solid #7777); 
    background-color: rgb(36, 218, 231); 
}

.navbar {
background-color: none; 

}

h1 { color: rgb(6, 77, 170); 

}
h2 {
    background-color:rgb(99, 149, 214); 
    border: 1px solid orangered; 
}

p {

    color: rgb(6, 77, 170); 
    font-size: 25px;  
}